<div class="col-4 movie-card">
    <img src="{{image}}" alt="{{title}}-poster">
    <h4>{{title}}</h4>
    <a href="/movie/{{id}}">See more</a>
</div>

{{!-- No consegui acceder a los partials, no se porque me daba el error:--}}
{{!-- The partial movieCard could not be found --}}