body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/cinema.jpg) no-repeat center center fixed;
  background-size: cover;
}

a {
  color: #0d4f69;
}

.index-page {
  display: flex;
  justify-content: flex-end;
  .index-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    h1 {
      color: white;
      font-size: 100px;
    }
    a {
      text-decoration: none;
      background-color: rgb(229, 243, 243);
      padding: 10px 20px;
      border-radius: 20px;
      color: rgb(60, 90, 90);
    }
  }
}

.movies-list {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  .movie-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
    align-items: center;
    img {
      width: 220px;
    }
    .movie-info {
      width: 220px;
      text-align: center;
      background-color: rgb(196, 210, 219);
      padding-bottom: 10px;
      h1 {
        font-size: 14px;
      }
    }
  }
}

.movie-detail {
  display: flex;
  max-width: 1200px;
  margin: auto;
  img {
    width: 100%;
  }
  .movie-detailed-info {
    padding-left: 30px;
    padding-top: 30px;
    background-color: rgba(196, 210, 219, 0.3);
    ul {
      padding-top: 10px;
      padding-bottom: 10px;
      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .all-showtimes {
      display: flex;
      .showtime {
        background-color: rgb(228, 228, 83);
        padding: 5px 10px;
        margin: 10px;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 800px) {
  .movie-detail {
    flex-direction: column;
    align-items: center;
    img {
      max-width: 300px;
      padding-top: 20px;
    }
  }
}
